@font-face {
    font-family: "pixeled";
    src: url("slkscr-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    user-select: none;

    font-family: "pixeled", sans-serif;
    -webkit-font-smoothing: none;
}

body {
    background-color: #37474F;
}

h1{
    font-size: 128px;
}

h3 {
    font-size: 98px;
}

p {
    font-size: 32px;
}

small {
    font-size: 16px;
}

button {
    color: white;
    background-color: #263238;
    padding: 16px;
    border-radius: 10px;
    font-size: 24px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #455A64;
}

button:focus {
    outline: 0;
}

input {
    padding: 25px;
    border-radius: 10px;
    border: 0;
    font-size: 24px;
}

input:focus {
    outline: 0;
}

.screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: white;
    font-size: 32px;
    -webkit-font-smoothing: none;
}

.overlay {
    z-index: 1
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connecting-overlay {
    text-align: center;
}

#no-connection-overlay {
    text-align: center;
    font-size: 64px;
}

#login-overlay {
    text-align: center;
}

#lobby-overlay {
}

#ready-btn {
    background-color: red;
}

#game-overlay {
}
