@font-face {
    font-family: "pixeled";
    src: url("slkscr-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    user-select: none;

    font-family: "pixeled", sans-serif;
    -webkit-font-smoothing: none;
}

button {
    color: white;
    background-color: #455A64;
    padding: 16px;
    border-radius: 10px;
    font-size: 24px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #607D8B;
}

button:focus {
    outline: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: white;
    background-color: #546E7A;
    font-size: 32px;
    -webkit-font-smoothing: none;
}

#connecting-overlay {
    padding-top: 25%;
    text-align: center;
}

#no-connection-overlay {
    padding-top: 25%;
    text-align: center;
    font-size: 64px;
}

#connection-retry-btn {
}

#login-overlay {
    text-align: center;
}

#lobby-overlay {
}

#game-overlay {
}
